{{> navTwo }}
<div class="container">

    <h3 class="collegeo"><span class="account-name">USERNAME</span>'s Schoolgle List</h3>
    <button type="button" id="printBtn" onclick="printJS({printable: 'list', type: 'html', header: 'SchoolgleList'})">
        <span class="material-icons">
            print
        </span>
    </button>
</div>
<div class="container" id="list">
    <!-- Page Content goes here -->
    <table class="responsive-table">
        <thead>
            <tr>
                <th>School</th>
                <th>Address</th>
                <th>Sector</th>
                <th>Type</th>
                <th>Website</th>
                <th></th>
            </tr>
        </thead>
        <a href=""></a>
        <tbody>
            {{#each school}}
            <tr data-lat="{{School.dataValues.latitude}}" data-long="{{School.dataValues.longitude}}">
                <td>{{School.dataValues.schoolName}}</td>
                <td>{{School.dataValues.suburb}}, {{School.dataValues.postcode}}</td>
                <td>{{School.dataValues.schoolSector}}</td>
                <td>{{School.dataValues.schoolType}}</td>
                <td><a href="{{School.dataValues.schoolURL}}" target="_blank">{{School.dataValues.schoolURL}}</a></td>
                <td><a class="waves-effect waves-light btn" data-id="{{dataValues.SchoolId}}"><i
                            class="material-icons deleteBtn">delete_forever</i></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="container mapDiv">
    {{> map}}
</div>


{{> footer}}