{{> navTwo }}
<div class="container">

    <h3 class="collegeo"><span class="account-name">USERNAME</span>'s Schoolgle List</h3>
    <button type="button" id="printBtn" onclick="printJS({printable: 'list', type: 'html', ignoreElements: ['btnIgnore'], header: 'SchoolgleList'})">
        <span class="material-icons">
            print
        </span>
    </button>
</div>
<div class="container" id="list">
    <!-- Page Content goes here -->
    <table class="responsive-table">
        <thead>
            <tr>
                <th>School</th>
                <th>Address</th>
                <th>Sector</th>
                <th>Type</th>
                <th>Website</th>
                <th></th>
            </tr>
        </thead>
        <a href=""></a>
        <tbody>
            {{#each school}}
            <tr data-lat="{{dataValues.latitude}}" data-long="{{dataValues.longitude}}">
                <td>{{dataValues.schoolName}}</td>
                <td>{{dataValues.suburb}}, {{dataValues.postcode}}</td>
                <td>{{dataValues.schoolSector}}</td>
                <td>{{dataValues.schoolType}}</td>
                <td><a href="{{dataValues.schoolURL}}" target="_blank">{{dataValues.schoolURL}}</a></td>
                <td id="btnIgnore"><a class="waves-effect waves-light btn" data-id="{{dataValues.id}}"><i
                            class="material-icons deleteBtn">delete_forever</i></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="container mapDiv">
    {{> map}}
</div>


{{> footer}}