{{> navTwo }}

<div class="container">

    <h3><span class="account-name">USERNAME</span><span class="collegeo"> Schoolgle List</span></h3>
</div>
<div class="container">
    <!-- Page Content goes here -->
    <table class="responsive-table">
        <thead>
            <tr>
                <th>School</th>
                <th>Address</th>
                <th>Index</th>
                <th>Rating</th>
                <th>Website</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each school}}
            <tr>
                <td>{{School.dataValues.schoolName}}</td>
                <td>{{School.dataValues.suburb}}, {{School.dataValues.postcode}}</td>
                <td>{{School.dataValues.schoolSector}}</td>
                <td>{{School.dataValues.schoolType}}</td>
                <td>{{School.dataValues.schoolURL}}</td>
                <td><a class="waves-effect waves-light btn" data-id="{{dataValues.SchoolId}}"><i
                            class="material-icons deleteBtn">delete_forever</i></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="container mapDiv">
    {{> map}}
</div>


{{> footer}}

<script defer type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCh0hxF41vQ6-991NIvoKeI8AoOHgP4nZo"></script>
<script defer type="text/javascript" src="/js/map-display.js"></script>